*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #1c1c1a;
}

li, a, button {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
img{
    width: 50px;
    height: 100%;
}
#header-img{
    cursor: pointer;
}
.nav-options{
    list-style: none;
}
.nav-options, li {
    display: inline-block;
    padding: 0px 20px;
}
.nav_options, li, a {
    transition: all 0.3s ease;
}
.nav_options, li, a:hover {
    color: #cf7f6a;
}
button{
    padding: 9px 25px;
    background-color: #cf7f6a;
    opacity: 1;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover{
    background-color: #cf7f6a;
    opacity: 0.8;
}